.player {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    object-fit: cover;
    padding-right: 16px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;

    img {
        height: 40px;
        width: auto;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    span {
        font-size: 20px !important;
        color: white;
        padding-right: 10px;
    }
}

.player-active {
  background-color: white !important;
  width: 200px !important;

  span {
    color: black !important;

  }
}

@media (max-width: 850px) {
  .player {
    width: 130px;
    margin-top: -30px;

    img {
      height: 20px;
    }

    span {
      font-size: 8px;
    }
  }

  .player-active {
    width: 140px !important;
  }
}
