.table {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("../../assets/image/background2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerPosition {
    position: absolute;
    right: 0;
}

.cardStack {
    position: relative;

    img {
        position: absolute;
        height: 190px;
        width: auto;
    }
}

.topCard {
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-8px);
    }
}

.playedCard {
    right: 16px;
    transform: scale(1.1) translateX(160px) translateY(-200px) rotate(5deg);
}

.pickCard {
    animation: pickCardAnimation 1.5s ease-in-out;
    transform: scale(1.1) translateX(160px) translateY(-200px) rotate(5deg);
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1.2);
    }

    30% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1.1) translateX(160px) translateY(-200px) rotate(5deg);
    }
}

.addBtn {
    position: absolute;
    bottom: 32px;
    right: 32px;
    background-color: white;
    color: black;
}